{% extends 'base.html' %}

{% block title %}Portal do Gestor - SynchroBI{% endblock %}

{% block navbar_title %}
<span class="app-title-text">Portal Controladoria</span>
{% endblock %}

{% block nav_items %}

<!-- Divisor vertical -->
<li class="nav-item">
  <span class="nav-link" style="border-left: 2px solid #60a5fa; height: 24px; margin: 8px 15px;"></span>
</li>

<!-- Menu de Cadastros -->
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    </i> Cadastros
  </a>
  <ul class="dropdown-menu dropdown-menu-dark">
    <li><a class="dropdown-item" href="{% url 'gestor:empresa_list' %}">
        </i> Empresas
    </a></li>
    <li><a class="dropdown-item" href="{% url 'gestor:unidade_list' %}">
        </i> Unidades
    </a></li>

    <li><a class="dropdown-item" href="{% url 'gestor:centrocusto_list' %}">
        </i> Centro de Custos
    </a></li>
    <li><a class="dropdown-item" href="{% url 'gestor:contacontabil_list' %}">
        </i> Contas Contábeis
    </a></li>
        <li><a class="dropdown-item" href="{% url 'gestor:contacontabil_list' %}">
        </i> Fornecedores
    </a></li>

    <li><hr class="dropdown-divider"></li>

    <li><a class="dropdown-item" href="{% url 'gestor:usuario_list' %}">
        </i> Usuários
    </a></li>

    <li><a class="dropdown-item" >
        </i> Parâmetros
    </a></li>
  </ul>
</li>

{% endblock %}